h1 {
	font-family: Helvetica;
	text-align: center;
}

img {
	width: 100px;
}

div {
	flex-direction:row-reverse;
	margin: auto;
	width: 600px;
	border: 5px solid black;
	display: flex;
}